<app-header></app-header>

<app-hero></app-hero>

<app-online-services></app-online-services>

<app-gallery-grid></app-gallery-grid>

<app-testimonios></app-testimonios>

<app-contact-form></app-contact-form>

<app-faq></app-faq>

<!-- Botón de WhatsApp -->
<a
  href="https://wa.me/3182273533"
  target="_blank"
  class="no-underline fixed bottom-5 right-5 bg-green-500 text-white w-16 h-16 rounded-full flex items-center justify-center shadow-lg hover:bg-green-600"
  aria-label="Chat en WhatsApp"
>
  <i class="pi pi-whatsapp text-xl"></i>
</a>

<app-donde-encontrarnos></app-donde-encontrarnos>

<app-footer></app-footer>
