main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-inline: 5%;
}

/* HERO */
#hero {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5%;
  overflow: hidden;
  color: var(--white);
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#hero .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  transition: transform 0.5s ease-in-out;
}

#hero .slide {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#hero .content {
  position: relative;
  z-index: 2;
}

#hero .content h1 { color: white; }

#hero h1, #hero p, #hero button {
  position: relative;
  z-index: 2;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

mark {
  background-color: var(--color-1);
  color: var(--white);
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.content button {margin-top: 1.5rem;}

/* SERVICES */

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático de columnas */
  gap: 1rem; /* Espaciado entre las tarjetas */
  width: 100%;
  margin-top: 2rem;
  padding: 1rem; /* Añadido padding para mejor separación */
  margin-bottom: 70px;
}

.service-item {
  background-color: var(--color-2);
  padding: 1.5rem;
  height: auto; /* Cambiado de 200px a auto para ajustar el tamaño según el contenido */
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Añadido para espaciar los elementos de forma uniforme */
}

.service-item:hover {
  background-color: var(--color-3);
  cursor: pointer;
  transform: scale(1.05); /* Ajuste de la escala al hacer hover */
  transition: transform 0.2s ease; /* Transición suave */
}

.service-item img {
  width: 50px; /* Ajuste del tamaño del ícono */
  height: 50px;
  margin-bottom: 1rem;
}

.service-item h3 {
  font-size: 1.2rem; /* Tamaño de la fuente ajustado */
  margin: 0.5rem 0; /* Espaciado adecuado */
}

.service-item p {
  font-size: 0.9rem; /* Tamaño del texto */
  color: var(--text-secondary);
  margin: 0; /* Elimina márgenes extra */
}

#additional-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático de columnas */
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem; /* Añadido padding para mejor separación */
  margin-bottom: 60px;
}

.additional_service-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Cambiado a 100% para que ocupe todo el ancho del contenedor */
  padding: 0;
  border-radius: 10px;
}

.additional_service-item img {
  position: relative;
  object-fit: cover; /* Asegura que la imagen se ajuste bien */
  width: 100%; /* Ajuste del ancho al 100% del contenedor */
  height: auto; /* Ajuste de la altura al contenido */
  border-radius: 10px;
}

.additional_service-item h3 {
  font-size: 1rem; /* Ajuste de la fuente */
  font-weight: 200;
  margin-left: 10px;
  margin-top: 20px;
}

/* CONTACT */
#contact-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: var(--color-3);
  border-radius: 40px;
}

#online-services p{
  text-align: flex-start;
  max-width: 100%;
  margin-top: 27px;
  margin-bottom: 20px;
  max-width: 60%;
}

#online-services h2{
  font-size: 300%;
  margin-top:  40px;
}




