<!-- Contenedor Principal -->
<div
  class="min-h-screen flex flex-col justify-between bg-[var(--color-1)] text-white"
>
  <!-- Header -->
  <header class="p-5">
    <nav class="flex justify-between items-center max-w-5xl mx-auto">
      <a href="/">
        <img
          class="h-12"
          src="../assets/img/MichimedP1_White.png"
          alt="MichiMed Logo"
        />
      </a>

      <!-- Mostrar la frase motivacional -->
      <span
        *ngIf="fraseMotivacional"
        class="w-80 text-[var(--color-3)] text-base font-light text-right italic"
      >
        {{ fraseMotivacional }}
      </span>
    </nav>
  </header>

  <!-- Contenido Central -->
  <main class="flex flex-grow items-center justify-center px-4">
    <div
      class="bg-white text-[var(--text-color)] rounded-2xl shadow-lg p-8 md:p-10 max-w-md w-full"
    >
      <h1
        class="text-2xl md:text-3xl font-bold text-[var(--color-2)] mb-6 text-center"
      >
        El bienestar de tu gatito comienza aquí...
      </h1>

      <!-- Formulario de Inicio de Sesión -->
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <!-- Campo de Cédula -->
        <div class="text-left">
          <label
            for="cedula"
            class="block text-lg font-semibold text-[var(--color-2)] mb-2"
            >Cédula</label
          >
          <input
            type="text"
            id="cedula"
            class="w-full px-4 py-3 border border-[var(--color-2)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-5)]"
            formControlName="cedula"
            placeholder="Ingresa tu cédula"
            required
          />
        </div>

        <!-- Campo de Contraseña -->
        <div class="text-left">
          <label
            for="password"
            class="block text-lg font-semibold text-[var(--color-2)] mb-2"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            class="w-full px-4 py-3 border border-[var(--color-2)] rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-5)]"
            formControlName="password"
            placeholder="Ingresa tu contraseña"
            required
          />
        </div>

        <!-- Botón de Ingresar -->
        <button
          id="btnIngresar"
          type="submit"
          class="w-full bg-[var(--color-2)] text-white font-semibold py-3 rounded-lg shadow-md hover:bg-[var(--color-5)] transition-transform transform hover:scale-105"
        >
          Ingresar
        </button>
      </form>

      <!-- Enlace para Recuperar Contraseña -->
      <div class="text-right mt-4">
        <a href="#" class="text-[var(--color-5)] hover:underline"
          >¿Olvidaste tu contraseña?</a
        >
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="text-center py-6 bg-[var(--color-2)] text-[var(--color-3)]">
    <div class="flex justify-center space-x-4 text-[var(--color-3)] mb-2">
      <a href="#" class="no-underline text-[var(--white)] hover:underline"
        >Términos de Uso</a
      >
      <a href="#" class="no-underline text-[var(--white)] hover:underline"
        >Política de Privacidad</a
      >
    </div>
    <p class="text-sm">&copy; 2024 MichiMed. Todos los derechos reservados.</p>
  </footer>
</div>
<p-toast></p-toast>
