<app-layout></app-layout>

<main id="content">
  <h1 class="mb-3 text-center text-3xl text-[var(--color-2)]">
    Listado de Drogas
  </h1>

  <!-- PrimeNG Table con búsqueda, paginación y botón de importación -->
  <p-table
    #dt
    [value]="drogas"
    dataKey="id"
    [paginator]="true"
    [loading]="loading"
    [rows]="10"
    [globalFilterFields]="['id', 'nombre', 'precioCompra', 'precioVenta']"
  >
    <!-- Barra superior con botones y buscador -->
    <ng-template pTemplate="caption">
      <div class="flex item justify-between">
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Buscar por el nombre de la droga..."
        />

        <button
          pButton
          pRippl
          icon="pi pi-upload"
          class="mr-2 bg-[var(--color-1)] text-white hover:bg-[var(--color-2)]"
          (click)="fileInput.click()"
          pTooltip="Importar desde Excel"
          tooltipPosition="bottom"
        ></button>
        <input
          #fileInput
          type="file"
          (change)="cargarMedicamentos($event)"
          style="display: none"
          accept=".xlsx"
        />
      </div>
    </ng-template>

    <!-- Cabecera de la tabla -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">
          ID <p-sortIcon class="inline-block" field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="nombre">
          Nombre <p-sortIcon class="inline-block" field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="precioCompra">
          Precio Compra
          <p-sortIcon class="inline-block" field="precioCompra"></p-sortIcon>
        </th>
        <th pSortableColumn="precioVenta">
          Precio Venta
          <p-sortIcon class="inline-block" field="precioVenta"></p-sortIcon>
        </th>
        <th pSortableColumn="uniDisp">
          Unidades Disponibles
          <p-sortIcon class="inline-block" field="uniDisp"></p-sortIcon>
        </th>
        <th pSortableColumn="uniVend">
          Unidades Vendidas
          <p-sortIcon class="inline-block" field="uniVend"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <!-- Cuerpo de la tabla -->
    <ng-template pTemplate="body" let-droga>
      <tr>
        <td>{{ droga.id }}</td>
        <td>{{ droga.nombre }}</td>
        <td>{{ droga.precioCompra }}</td>
        <td>{{ droga.precioVenta }}</td>
        <td>{{ droga.uniDisp }}</td>
        <td>{{ droga.uniVend }}</td>
      </tr>
    </ng-template>

    <!-- Mensaje cuando no hay datos -->
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">No se encontraron medicamentos</td>
      </tr>
    </ng-template>
  </p-table>
</main>
